.forecast_few-days {
  height: 100%;
  padding: 16px;
  background-color: $accept;
  border-radius: 25px;
  width: 100%;
}

.swiper-wrapper {
  gap: 7px;
}

.main-days {
  max-width: 740px;
  width: 100%;

  @media only screen and (max-width: 990px) {
    max-width: 585px;
  }

  @media only screen and (max-width: 840px) {
    max-width: 485px;
  }

  @media only screen and (max-width: 767px) {
    max-width: 640px;
  }

  @media only screen and (max-width: 740px) {
    max-width: 600px;
  }

  @media only screen and (max-width: 690px) {
    max-width: 550px;
  }

  @media only screen and (max-width: 640px) {
    max-width: 500px;
  }

  @media only screen and (max-width: 590px) {
    max-width: 450px;
  }

  @media only screen and (max-width: 540px) {
    max-width: 400px;
  }

  @media only screen and (max-width: 490px) {
    max-width: 350px;
  }

  @media only screen and (max-width: 440px) {
    max-width: 323px;
  }

  @media only screen and (max-width: 411px) {
    max-width: 280px;
  }

  @media only screen and (max-width: 370px) {
    max-width: 265px;
  }
}

.days-item-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
  width: 117px;
  color: $white;

  &:not(:last-child) {
    border-right: 1px solid #595555;
  }
}

.main-days-list {
  width: auto;
}

.list-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  background-color: rgba(77, 82, 82, 0.76);
  border-radius: 10px;
  width: 130px;
}

.time-pic {
  width: 15px;
  height: 15px;
}

.list-date {
  text-align: center;
  border-bottom: 1px solid wheat;
  color: #fff;
}

.long-term-forecast {
}
